<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quizz !</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="{% static "waste/css/background.css" %}" />

  {% block references %}{% endblock references %}
</head>

<body>
  <div class="initial-game-screen">
    <div class="game-logo">
      <p>Resíduos</p>
      <p>Quizz</p>
    </div>
    {% block content %}{% endblock content %}
  </div>
</body>

</html>
