{% extends "waste/question_base.html" %}

{% block question %}
  <h4>Qual é a alternativa mais sustentável para o descarte de resíduos eletrônicos?</h4>

  <form id="form" class="questions" method="post" action="{% url "question_3" person.id %}">
    {% csrf_token %}
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-1" required>
      <span>Jogá-los no lixo comum</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-2">
      <span>Doá-los para instituições de caridade</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-3">
      <span>Reciclá-los em instalações apropriadas</span>
    </label>
  </form>

  <button type="submit" class="nes-btn is-success" form="form">Próxima</button>
{% endblock question %}


