{% extends "waste/question_base.html" %}

{% block question %}
  <h4>Arraste o tipo de resíduo sólido para o destino correto de descarte</h4>

  <div class="questions">
    <div class="questions-drag">
      <div class="options">
        <div class="battery"></div>
        <div class="apple"></div>
        <div class="soda"></div>
      </div>
      <div class="choices">
        <div class="battery-bin"></div>
        <div class="metal-bin"></div>
        <div class="organic-bin"></div>
      </div>
    </div>
  </div>

  <a href="{% url "dashboard" %}"><button type="button" class="nes-btn is-success">Finalizar</button></a>
{% endblock question %}


