{% extends "waste/question_base.html" %}

{% block question %}
  <h4>Qual das seguintes opções é considerada uma prática de redução de resíduos sólidos?</h4>

  <form id="form" class="questions" method="post" action="{% url "question_4" person.id %}">
    {% csrf_token %}
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-1" required>
      <span>Descartar todos os materiais não utilizados</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-2">
      <span>Comprar produtos a granel em vez de embalagens individuais</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-3">
      <span>Ignorar a reciclagem e disposição adequada dos resíduos</span>
    </label>
  </form>

  <button type="submit" class="nes-btn is-success" form="form">Próxima</button>
{% endblock question %}


