{% extends "waste/question_base.html" %}

{% block question %}
  <h4>Qual é a principal forma de gerenciamento de resíduos sólidos urbanos?</h4>

  <form id="form" class="questions" method="post" action="{% url "question_1" person.id %}">
    {% csrf_token %}
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-1" required>
      <span>Incineração</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-2">
      <span>Reciclagem</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer" value="ans-3">
      <span>Compostagem</span>
    </label>
  </form>

  <button type="submit" class="nes-btn is-success" form="form">Próxima</button>
{% endblock question %}
