{% extends "waste/question_base.html" %}

{% block question %}
  <p>Qual é a principal forma de gerenciamento de resíduos sólidos urbanos?</p>

  <div class="questions">
    <label>
      <input class="nes-radio" type="radio" name="answer">
      <span>Incineração</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer">
      <span>Reciclagem</span>
    </label>
    <label>
      <input class="nes-radio" type="radio" name="answer">
      <span>Compostagem</span>
    </label>
  </div>

  <a href="{% url "question_2" %}"><button type="button" class="nes-btn is-success">Próxima</button></a>
{% endblock question %}


