.main-content {
  display: flex;
  justify-content: center;
}

.questions-background {
  display: flex;
  background-image: url('../sprites/background8bit864x864.png');
  height: 864px;
  width: 864px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 70%;
}

.nes-container {
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.questions {
  display: flex;
  flex-direction: column;
}

.questions-drag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nes-btn.is-success {
  width: 100%;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 0;
  margin-bottom: 20px;
}

.progress-title {
  position: absolute;
  margin-top: 15px;
}

.battery {
  background-image: url('../sprites/battery80x80.png');
  display: flex;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.apple {
  background-image: url('../sprites/apple-8bit80x80.png');
  display: flex;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.soda {
  background-image: url('../sprites/soda-8bit80x80.png');
  display: flex;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.battery-bin {
  background-image: url('../sprites/battery-bin.png');
  display: flex;
  height: 99px;
  width: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.organic-bin {
  background-image: url('../sprites/organic-bin.png');
  display: flex;
  height: 99px;
  width: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.metal-bin {
  background-image: url('../sprites/metal-bin.png');
  display: flex;
  height: 99px;
  width: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label:hover {
  color: rgb(109, 107, 107);
}

label:has(input:checked) {
  color: #2eaea5d9;
}

.nes-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 600px;
  text-align: center;
}

.nes-dialog h3 {
  margin: 0;
}

.points {
  display: flex;
  align-items: center;
  gap: 10px;
}

menu {
  margin: 0;
  padding: 0;
}

.correct-answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icon-like {
  margin: 0;
  transform-origin: center;
  rotate: 180deg;
}

.cheater {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h4 {
  text-align: center;
}

dialog:not([open]) {
  display: none;
}

.empty-bin {
  opacity: 50%;
}

.thrown-item {
  opacity: 50%;
}
